<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="constructor::head"></head>
<body>
<!--navbar-->
<div th:include="constructor::navbar"></div>


<div class="row">
    <h1>Admin panel</h1>
</div>
<!-- tabs -->
<div class="container">
    <div class="row">
        <div class="tab">
            <button class="col-3 tablinks" onclick="openTable(event, 'Products')">Products</button>
            <button class="col-3 tablinks" onclick="openTable(event, 'Users')">Users</button>
            <button class="col-3 tablinks" onclick="openTable(event, 'Orders')">Orders</button>
        </div>
    </div>
    <!-- products -->
    <div id="Products" class="tabcontent">
        <table id="product">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Img</th>
                <th>Type</th>
                <th>Tag</th>
                <th>Ratio</th>
                <th>Available</th>
                <th>Count</th>
                <th>Details</th>
                <th>Action</th>
            </tr>
            <tr th:each="product: ${productList}">
                <form th:action="@{/admin/product}" method="post">
                    <td><input style="width: 40px;" name="id" type="number" th:value="${product.getId()}"></td>
                    <td><input style="width: 140px;" name="name" type="text" th:value="${product.getName()}"/></td>
                    <td><input style="width: 60px;" name="price" type="number" th:value="${product.price}"/></td>
                    <td><input style="width: 140px;" name="img" type="text" th:value="${product.getImg()}"/></td>
                    <td>
<!--                        <input style="width: 100px;" name="type" type="text" th:value="${product.getType()}">-->
                        <select name="type">
                            <option selected th:value="${product.getType()}" th:text="${product.getType()}"></option>
                            <option th:if="${!product.getType().toString().equals('SOCKS')}" value="SOCKS">SOCKS</option>
                            <option th:if="${!product.getType().toString().equals('PANTS')}" value="PANTS">PANTS</option>
                            <option th:if="${!product.getType().toString().equals('SHOES')}" value="SHOES">SHOES</option>
                            <option th:if="${!product.getType().toString().equals('ELECTRONIC')}" value="ELECTRONIC">ELECTRONIC</option>
                            <option th:if="${!product.getType().toString().equals('TSHIRT')}" value="TSHIRT">TSHIRT</option>
                        </select>
                    </td>
                    <td>
<!--                        <input style="width: 90px;" name="tag" type="text" th:value="${product.getTag()}">-->
                        <select name="tag">
                            <option selected th:value="${product.getTag()}" th:text="${product.getTag()}"></option>
                            <option th:if="${!product.getTag().toString().equals('NEW')}" value="NEW">NEW</option>
                            <option th:if="${!product.getTag().toString().equals('SALE')}" value="SALE">SALE</option>
                            <option th:if="${!product.getTag().toString().equals('EXCLUSIVE')}" value="EXCLUSIVE">EXCLUSIVE</option>
                            <option th:if="${!product.getTag().toString().equals('FEATURED')}" value="FEATURED">FEATURED</option>
                            <option th:if="${!product.getTag().toString().equals('STANDARD')}" value="STANDARD">STANDARD</option>
                        </select>
                    </td>
                    <td><input style="width: 40px;" name="ratio" type="text" th:value="${product.getRatio()}"></td>
                    <td><input style="width: 40px;" name="available" type="text" th:value="${product.isAvailable()}"></td>
                    <td><input style="width: 40px;" name="countAvailable" type="number" th:value="${product.getCountAvailable()}"></td>
                    <td><textarea name="details" cols="30" rows="3" th:text="${product.getDetails()}"></textarea></td>
                    <td>
                        <a class="btn btnRemove"
                           data-th-method="get"
                           th:href="@{/admin/product/__${product.getId()}__}"
                        >Remove</a>
                        <button type="submit" class="btn btnAdd">Save</button>
                    </td>
                </form>
            </tr>
        </table>
        <form class="adminInput" style = "display: none;" th:action="@{/admin/product}" method="post" id="productForm">
            <table >
                <tr>
                    <td><p th:text="${productList.size()+1}"></p></td>
                    <td><input name="name" type="text" placeholder="name"></td>
                    <td><input name="price" type="number" placeholder="price"></td>
                    <td><input name="img" type="text" placeholder="img url"></td>
                    <td>
                        <select name="type" id="type">
                            <option value="SOCKS">SOCKS</option>
                            <option value="PANTS">PANTS</option>
                            <option value="SHOES">SHOES</option>
                            <option value="ELECTRONIC">ELECTRONIC</option>
                            <option value="TSHIRT">TSHIRT</option>
                        </select>
                    </td>
                    <td>
                        <select name="tag" id="tag">
                            <option value="NEW">NEW</option>
                            <option value="SALE">SALE</option>
                            <option value="EXCLUSIVE">EXCLUSIVE</option>
                            <option value="FEATURED">FEATURED</option>
                            <option value="STANDARD">STANDARD</option>
                        </select>
                    </td>
                    <td><input name="ratio" type="number" placeholder="ratio"></td>
                    <td><input name="available" type="text" placeholder="available?"></td>
                    <td><input name="countAvailable" type="number" placeholder="count"></td>
                    <td><textarea name="details" placeholder="details" cols="30" rows="5"></textarea></td>
                    <td>
                        <button type="submit" class="btn">Save</button>
                    </td>
                </tr>
            </table>
        </form>
        <button id="openProductFormButton" class="btn btnAdd btnRow" type="button" onclick="openForm('productForm', 'openProductFormButton')">+</button>
    </div>

    <!-- users -->
    <div id="Users" class="tabcontent">
        <table id="user">
            <tr>
                <th>Id</th>
                <th>userName</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr th:each="user: ${userList}">
                <form th:action="@{/admin/user/update}" method="post">
                    <td><input name="id" type="number" th:value="${user.getId()}"></td>
                    <td><input style="width: 150px;" name="userName" type="text" th:value="${user.getUserName()}"></td>
                    <td><input style="width: 150px;" name="email" type="text" th:value="${user.getEmail()}"></td>
                    <td><input style="width: 100px;" name="password" type="text" placeholder="password"></td>
                    <td>
                        <select name="role">
                            <option selected th:value="${user.getRole()}" th:text="${user.getRole()}"></option>
                            <option th:if="${!user.getRole().toString().equals('ADMIN')}" value="ADMIN">ADMIN</option>
                            <option th:if="${!user.getRole().toString().equals('USER')}" value="USER">USER</option>
                        </select>
                    </td>
                    <td>
                        <select name="status">
                            <option selected th:value="${user.getStatus()}" th:text="${user.getStatus()}"></option>
                            <option th:if="${!user.getStatus().toString().equals('ACTIVE')}" value="ACTIVE">ACTIVE</option>
                            <option th:if="${!user.getStatus().toString().equals('BANNED')}" value="BANNED">BANNED</option>
                        </select>
                    </td>
                    <td>
                        <a class="btn btnRemove"
                           data-th-method="get"
                           th:href="@{/admin/user/__${user.getId()}__}"
                           th:if="${user.getRole().name()!='ADMIN'}"
                        >Remove</a>
                        <button th:if="${user.getRole().name()!='ADMIN'}"
                                type="submit" class="btn btnAdd">Save</button>
                        <p th:if="${user.getRole().name()=='ADMIN'}">Admin is unchangeable</p>
                    </td>
                </form>
            </tr>
        </table>
        <form class="adminInput" style = "display: none;" th:action="@{/admin/user}" method="post" id="userForm">
            <table >
                <tr>
                    <td><p th:text="${userList.size()+1}"></p></td>
                    <td><input name="userName" type="text" placeholder="user name"></td>
                    <td><input name="email" type="text" placeholder="email"></td>
                    <td><input name="password" type="text" placeholder="password"></td>
                    <td>
                        <select name="role" id="role">
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </td>
                    <td>
                        <select name="status" id="status">
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="BANNED">BANNED</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn">Save</button>
                    </td>
                </tr>
            </table>
        </form>
        <button id="openUserFormButton" class="btn btnAdd btnRow" type="button"
                onclick="openForm('userForm', 'openUserFormButton')">+</button>
    </div>

    <!-- orders -->
    <div id="Orders" class="tabcontent">
        <table id="order">
            <tr>
                <th>Id</th>
                <th>userId</th>
                <th>productId</th>
                <th>productSize</th>
                <th>productCount</th>
                <th>Action</th>
            </tr>
            <tr th:each="order: ${orderList}">
                <form th:action="@{/admin/order}" method="post">
                    <td><input name="id" type="number" th:value="${order.getId()}"></td>
                    <td><input name="userId" type="number" th:value="${order.getUserId()}"></td>
                    <td><input name="productId" type="number" th:value="${order.getProductId()}"></td>
                    <td><input name="productSize" type="text" th:value="${order.getProductSize()}"></td>
                    <td><input name="productCount" type="number" th:value="${order.getProductCount()}"></td>
                    <td>
                        <a class="btn btnRemove"
                           data-th-method="get"
                           th:href="@{/admin/order/__${order.getId()}__}"
                        >Remove</a>
                        <button type="submit" class="btn btnAdd">Save</button>
                    </td>
                </form>
            </tr>
        </table>
        <form class="adminInput" style = "display: none;" th:action="@{/admin/order}" method="post" id="orderForm">
            <table>
                <tr>
                    <td><p th:text="${orderList.size()+1}"></p></td>
                    <td><input name="userId" type="number" placeholder="user id"></td>
                    <td><input name="productId" type="number" placeholder="product id"></td>
                    <td><input name="productSize" type="text" placeholder="size"></td>
                    <td><input name="productCount" type="number" placeholder="count"></td>
                    <td>
                        <button type="submit" class="btn">Save</button>
                    </td>
                </tr>
            </table>
        </form>
        <button id="openOrderFormButton" class="btn btnAdd btnRow" type="button" onclick="openForm('orderForm','openOrderFormButton')">+</button>
    </div>

</div>

<!--footer-->
<div th:include="constructor::footer"></div>

<!-- js for toggle menu -->
<script th:src="@{/js/toggleScript.js}"></script>

<!-- tab script -->
<script th:src="@{/js/OpenTable.js}"></script>

<!-- form script -->
<script th:src="@{/js/openForm.js}"></script>

</body>
</html>