<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="constructor::head"></head>
    <body>

    <div th:include="constructor::navbar"></div>

<!--empty cart details -->
    <div th:if="${products.size()==0}">
        <div class="small-container cart-page row">
            <h1 style="padding-bottom: 90px">Your cart is empty yet...</h1>
        </div>
    </div>

<!-- cart items details -->
        <div class="small-container cart-page">
            <div th:each="product: ${products}">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Quantify</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img th:src="${product.getImg()}">
                                <div>
                                    <p th:text="${product.getName()}"></p>
                                    <small th:text="${product.getPrice()}+'$'"></small>
                                    <a data-th-method="get" th:href="@{/order/__${orders.get(product).getId()}__}">Remove</a>
                                </div>
                            </div>
                        </td>
                        <td><input id="quant" type="number" disabled th:value="${orders.get(product).getProductCount()}"></td>
                        <td id="sub" th:text="${orders.get(product).getProductCount()*product.getPrice()}+'$'"></td>
                    </tr>
                </table>
            </div>

            <div class="total-price">
                <table th:if="${products.size()>0}">
                    <tr>
                        <td>Subtotal</td>
                        <td th:text="${subtotal}+'$'"></td>
                    </tr>
                    <tr>
                        <td>Admin coffee</td>
                        <td th:text="${tax}+'$'"></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td th:text="${subtotal+tax}+'$'"></td>
                    </tr>
                </table>
            </div>

        </div>


<!-- footer -->
<div th:include="constructor::footer"></div>

<!-- js for toggle menu -->
<script th:src="@{/js/toggleScript.js}"></script>

    </body>
</html>