<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="constructor::head"></head>
    <body>

    <div th:include="constructor::navbar"></div>

        <!-- single product details -->
        <div class="small-container single-product">
            <div class="row">
        <div class="col-2">
            <img th:src="${currentProduct.getImg()}" width="100%" id="ProductImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img th:src="${currentProduct.getImg()}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="${currentProduct.getImg()}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="${currentProduct.getImg()}" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img th:src="${currentProduct.getImg()}" width="100%" class="small-img">
                </div>
            </div>
        </div>
                <div class="col-2">
                    <p th:text="'Home / '+${currentProduct.getType()}">Home / T-Shirt</p>
                    <h1 th:text="${currentProduct.getName()}"></h1>
                    <h4 th:text="${currentProduct.getPrice()}+'$'"></h4>

                    <form th:action="@{/createorder/__${currentProduct.getId()}__}" th:object="${orderDTO}" method="post">

                        <div th:switch="${currentProduct.getType().toString()}">
                            <select th:case="'SHOES'" name="size">
                                <option th:type="text" value="">Select Size</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                            </select>
                            <select th:case="'ELECTRONIC'" name="size">
                                <option value="OneSize">One Size</option>
                            </select>
                            <select th:case="*" name="size">
                                <option value="">Select Size</option>
                                <option value="XXL">XXL</option>
                                <option value="XL">XL</option>
                                <option value="L">L</option>
                                <option value="M">M</option>
                                <option value="S">S</option>
                            </select>
                        </div>

                        <input name="count" type="number" value="1">
                        <button sec:authorize="isAuthenticated()" type="submit" class="btn">Add to cart</button>
                    </form>

                    <h3>Product Details <i class="fa fa-indent"></i></h3>
                    <br>
                    <p th:text="${currentProduct.getDetails()}"></p>
                </div>
            </div>
        </div>

        <!-- title -->

        <div class="small-container">
            <div class="row row-2">
                <h2>Related products</h2>
                <p>View more</p>
            </div>
        </div>

    <!-- products -->
    <div th:include="constructor::products"></div>

<!-- footer -->
<div th:include="constructor::footer"></div>

<!-- js for toggle menu -->
<script th:src="@{/js/toggleScript.js}"></script>

<!-- js for product gallery -->
<script th:src="@{/js/galleryScript.js}"></script>

    </body>
</html>