<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="constructor::head"></head>
<body>

    <div th:include="constructor::navbar"></div>

    <div class="small-container">

        <div class="row row-2">
            <h2>All products</h2>
            <form method="get">
                <select onchange="this.form.submit()" name="algorithm" id="algorithm">
                    <option value="">Default sorting</option>
                    <option selected th:if="${!algorithm.isEmpty()}" th:text="${algorithm}" th:value="${algorithm}"></option>
                    <option th:if="${!algorithm.equals('PRICE_LOW')}" value="PRICE_LOW">Price low to high</option>
                    <option th:if="${!algorithm.equals('PRICE_HIGH')}" value="PRICE_HIGH">Price high to low</option>
                    <option th:if="${!algorithm.equals('RATING')}" value="RATING">Sort by rating</option>
                    <option th:if="${!algorithm.equals('NAME')}" value="NAME">Sort by name</option>
                </select>
            </form>
        </div>

        <div th:include="constructor::products"></div>

        <div class="page-btn" th:if="${pageTotal > 1}">
            <span th:each="i: ${#numbers.sequence(1, pageTotal)}">
                <a th:if="${currentPage != i}" th:href="@{'/product/' + ${i} + '?algorithm=' + ${algorithm}}" th:text="${i}"></a>
                <span class="insideSpan" th:unless="${currentPage != i}" th:text="${i}"></span>
            </span>
            <span>
                <a th:if="${currentPage < pageTotal}" th:href="@{'/product/'+${currentPage+1} + '?algorithm=' + ${algorithm}}">Next</a>
                <span class="insideSpan" th:unless="${currentPage < pageTotal}">Next</span>
            </span>
            <span>
                <a th:if="${currentPage < pageTotal}" th:href="@{'/product/'+${pageTotal} + '?algorithm=' + ${algorithm}}">Last</a>
                <span class="insideSpan" th:unless="${currentPage < pageTotal}">Last</span>
            </span>
        </div>
    </div>

<!-- footer -->
<div th:include="constructor::footer"></div>

<!-- js for toggle menu -->
<script th:src="@{/js/toggleScript.js}"></script>

    </body>
</html>